html, body {
    padding-top: 50px;
}
body {
    margin: 0; 
    background: #40E0D0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdbb2d, #f7797d);
    background: linear-gradient(to right, #fdbb2d, #f7797d);
    
}
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section {
    width: 90%;
    /* height: 75%; */
    /* border: 1px solid; */
    padding: 10px;
    /* box-shadow: 5px 10px #ddbb23; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lord-ganesha {
    background-repeat:no-repeat;
    background-size:contain;
    background-image: url('ganesha.png');
    /* height: 90%; */
    width: 90%;
}

.card-content {
    background-repeat:no-repeat;
    background-size:contain;
    background-image: url('card.png');
    /* height: 90%; */
    width: 90%;
}

.deeplink {
    padding-top: 45%;
    padding-left: 5%;
}

.contact-info {
    padding-top: 30%;
    padding-left: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.fa {
    padding: 10px;
    font-size: 10px;
    width: 12px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
  
.fa:hover {
      opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-whatsapp {
    background: #5cb85c;
    color: white;
}

.fa-envelope {
    background: #d9534f;
    color: white;
}

.fa-phone {
    background: #5bc0de;
    color: white;
}

.fa-map {
    background: #5bc0de;
    color: white;
}

.fa-users {
    background: #4ca2cd;
    color: white;
}